@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');


*{
    box-sizing: border-box;
    padding: 0 auto;
    margin: 0 auto;
    font-family: 'Kumbh Sans';
}

body{
    font-family: Arial, Helvetica, sans-serif;
    position: static; 
    background-image: url(../imagens/pexels-stephan-seeber-1261728.jpg);
}

ul li {
    list-style-type: none;
}


nav ul {
    display: flex;
    align-items: center;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #000;
}



h1{
    color: #212020;
}

img{
    width: 250px;
}

p{
    background-color: rgb(247, 247, 247);
    padding: 5%;
    border-radius: 15px;
    
    /* background: linear-gradient(to right, rgba(245, 166, 242, 0.408), rgba(89, 89, 198, 0.449)); */
}

footer{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(79, 79, 79);
    color: white;
    padding: 3%;
}

.img-footer{
    width: 40px;
}

.NomeDoJogo {
    font-weight: bolder;
    color: rgb(160, 0, 160);
    text-shadow: 4px 4px 10px rgba(249, 249, 249, 0.786);
    
}


.navbar{
    background-color: rgb(221, 160, 221);
    position: sticky;
    top: 0;
    box-shadow: 10px 0px 10px #212020;
    z-index: 99;
    padding: 1%;
}

.header-inner-content{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.img-link{
    width: 38px;
    margin-left: 5px;
    margin-right: 5px;
    transition: 0.50s;
}

.img-link:hover{
    background-color: rgb(160, 0, 160);
    border-radius: 10px;
    padding: 5px;
}

.conteudo{
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    
}

.Jogo{
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 1%;
}

.esquerda{
    height: 100%;
    flex-basis: 50%;
    
}

.direita{
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 100%;
}