@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

*{
    box-sizing: border-box;
    padding: 0 auto;
    margin: 0 auto;
    font-family: 'Kumbh Sans';
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.Nome{
    font-size: xx-large;
    font-weight: bold;
}

.navbar{
    background-color: rgb(226, 230, 191);
    position: sticky;
    top: 0;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.474);
    z-index: 99;
    padding: 1%;
}

.header-inner-content{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.img-link{
    width: 38px;
    margin-left: 5px;
    margin-right: 5px;
    transition: 0.50s;
}

.img-link:hover{
    background-color: rgb(47, 104, 48);
    border-radius: 10px;
    padding: 5px;
}

.espacamento{
    padding: 10px;
}