
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
    padding: 0%;
    margin: 0%;
}

body {
    background-color: rgba(198, 214, 254, 0.724);
}

header {
    padding: 5px;
    
}

a {
    text-decoration: none;
}

.menu {
    display: flex;
    justify-content: center;
    
}

.Opcao {
    padding: 1%;
}

.NomeDoJogo {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

